{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'sr_auth/style.css' %}">

    <title>
      {% block title %}
        SR Authentication Server
      {% endblock %}
    </title>

  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          {% comment %} <h1 class="mt-2"></h1> {% endcomment %}
          <div class="row d-flex align-items-center justify-content-lg-between">
            {% if user.is_authenticated %}
              <div>
                <form action="/logout" method="get">
                  <button class="btn btn-secondary" type="submit" value="True" name='clicked' onclick="location.href ='/logout'">
                      Logout
                  </button>
                </form>
              </div>
            {% endif %}
          </div>
          <hr class="mt-4 mb-3">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>