{% extends 'sr_auth/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  SR Authentication Server
{% endblock %}

{% block content %}

    <!-- <h1 class="sr_text">{{product}} Auth Status</h1> -->
    <div class="d-flex justify-content-center mt-4">
    {% if product_auth_enabled %}
      <p class="sr_message">Authentication enabled.</p>
    {% else %}
      <p class="sr_message">Authentication disabled.</p>
    {% endif %}
    </div>

    
    {% if auth_enable_permission %}
    <form action=""  method="post" class="sr_text">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="sr_button w-100">Apply</button>
    </form>
    {% endif %}
{% endblock %}
