{% extends 'sr_auth/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  SR Authentication Server
{% endblock %}

{% block content %}

    <h1>{{product}} Auth Status</h1>
    {% if product_auth_enabled %}
      <p>Authentication enabled.</p>
    {% else %}
      <p>Authentication disabled.</p>
    {% endif %}

    
    {% if auth_enable_permission %}
    <form action=""  method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success w-100 m-1">Apply</button>
    </form>
    {% endif %}
{% endblock %}
