{% extends 'sr_auth/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  SR Authentication Server
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Already logged in {{ user.username }}, close browser</p> 
  {% else %}

    <br>

    <form class="login" method="POST">
      {% csrf_token %}
      {% if access_str %}
        <h5 class="sr_text"> {{ access_str }} </h5>
      {% endif %}

      {% if form.errors %}
        {% for message in form.errors.values %}
          <h5 class="sr_text sr_message"> {{ message }} </h5>
        {% endfor %}
      {% endif %}  
      {% if error %}
          <h5 class="sr_text sr_message"> {{ error }} </h5>
      {% endif %}
      {% crispy form %}
    </form>
  {% endif %}
{% endblock %}
